* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  /* height: 100%; */
  /* overflow: hidden; */
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  background: #0a0a2a;
  line-height: 1.6;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}